.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  margin-bottom: 30px;
}

.container-wrapper {
  margin-top: 40px;
  margin-left: 25px;
  margin-right: 25px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidebar-profile {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar-location {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.sidebar-profile-image {
  margin-bottom: 20px;
}

.sidebar-footer {
  position: absolute;
  bottom: 0px;
}

.home-container {
  margin-top: -40px;
  margin-left: -25px;
  margin-right: -25px;
}

.home-content {
  display: flex;
  align-items: center;
  justify-content: center;
}
